<%= form_for @game do |f| %>
<div class="game_form">
  <div>
    <%= f.label(:player_number, "Number of Players") %>
    <%= f.select :player_number, [2, 3, 4, 5, 6] %>
  </div>

  <div>
    <%= f.collection_select :players, @players, :id, :username, {multiple: true, size: @game.player_number} %>
  </div>

  <div>
    <%= f.label(:winner, "Winner:") %>
    <%= f.collection_select :winner, @game.players, :id, :username %>
  </div>

  <div >
    <%= f.label(:scores, "Scoreboard") %>
  </div>

  <div>
    <%= f.submit("Submit Game") %>
  </div>
  <%= link_to "Back", :back %>
</div>

<% end %>
